doctype html
html
    head
        title Image Gallery
        link(rel='icon', type='image/x-icon', href='/static/images/favicon.png')
        link(rel='stylesheet', type='text/css', href='/static/stylesheets/gallery.css')
    body
        include includes/navbar.pug

        //div
        //  p= isAuthenticated

        .container-full
            h1 Image Gallery
            .container
                .gallery-wrapper
                    .img
                        img.gallery(src='/static/images/TeamFocused.png', alt='hacks_four')
                    .img
                        img.gallery(src='/static/images/Presentation.png', alt='hacks_five')
                    .img
                        img.gallery(src='/static/images/Drone.png', alt='hacks_six')
                    .img
                        img.gallery(src='/static/images/Hardware.png', alt='hacks_one')
                    .img
                        img.gallery(src='/static/images/TylerEating.png', alt='hacks_two')
                    .img
                        img.gallery(src='/static/images/NerfWinners.png', alt='hacks_three')
                    .img
                        img(src='/static/images/Event Images/IMG_7957.jpeg', alt='zeller_fire_one')
                    .img
                        img(src='/static/images/Event Images/IMG_8026.jpeg', alt='zeller_fire_two')
                    .img
                        img(src='/static/images/Event Images/IMG_8043.jpeg', alt='pres_one')
                    .img
                        img(src='/static/images/Event Images/IMG_7925.jpeg', alt='lecture_one')
                    .img
                        img(src='/static/images/Event Images/IMG_8407.jpg', alt='lecture_two')
                    .img
                        img(src='/static/images/Event Images/IMG_8412.jpg', alt='sleeping_one')
                    .img
                        img(src='/static/images/Event Images/IMG_8416.jpg', alt='machine_one')
                    .img
                        img(src='/static/images/Event Images/IMG_8417.jpg', alt='oscar_one')
                    .img
                        img(src='/static/images/Event Images/IMG_8427.jpg', alt='sleeping_two')
