doctype html
html
    head
        title Image Gallery
        link(rel='icon', type='image/x-icon', href='/static/images/favicon.png')
        link(rel='stylesheet', type='text/css', href='/static/stylesheets/gallery.css')
    body
        include includes/navbar.pug

        div
          p= isAuthenticated

        .maximilion
            h1 Image Gallery
            .container
                .gallery-wrapper
                    .img
                        img.gallery(src='/static/images/TeamFocused.png', alt='hacks_four')
                    .img
                        img.gallery(src='/static/images/Presentation.png', alt='hacks_five')
                    .img
                        img.gallery(src='/static/images/Drone.png', alt='hacks_six')
                    .img
                        img.gallery(src='/static/images/Hardware.png', alt='hacks_one')
                    .img
                        img.gallery(src='/static/images/TylerEating.png', alt='hacks_two')
                    .img
                        img.gallery(src='/static/images/NerfWinners.png', alt='hacks_three')
