doctype html
head
    link(rel='icon', type='image/x-icon', href='/static/images/favicon.png')
body
    include includes/navbar.pug
    include includes/dashboardBar.pug

        .display-5 User List
            hr

        .container1
            nav.navbar.bg-light
                .container-fluid
                    form.d-flex(role='search')
                        input.form-control.me-2(type='search', placeholder='Search', aria-label='Search')
                        button.btn.btn-outline-success(type='submit') Search
            hr

            mixin user(u)
                form
                    span= u.name

                    select(name=`${u.name}`)
                        option(value="user" selected=(u.role === "")) user
                        option(value="admin" selected=(u.role === "rol_Rtjhdoi7zz7wOjXX")) administrator

                input(type="submit")

            each u of users
                +user(u)
