doctype html
head
  title= title
body
  if (userInfo)
    img(src=userInfo['picture'] referrerpolicy="no-referrer")

    each [key, value] of Object.entries(userInfo)
      unless (key == 'picture')
        div= `${key}: ${value}`