.btn{
    border: none;
    background: none;
    margin-left: 10px;
}

button:hover{
    color:blue;
}

button.add{
    background: none;
}
.modal-body{
    text-align: center;
}

img#output{
    border-radius: 10px;
}

img#output{
    margin-right: 1rem;
}

input.form-control{
    margin-top: 1rem;
}